<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.client.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YourProduct</servlet-name>
        <servlet-class>com.client.YourProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.client.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.client.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Catalog</servlet-name>
        <servlet-class>com.client.Catalog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>com.client.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Purchases</servlet-name>
        <servlet-class>com.client.Purchases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.client.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>com.client.Edit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourProduct</servlet-name>
        <url-pattern>/YourProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Catalog</servlet-name>
        <url-pattern>/Catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchases</servlet-name>
        <url-pattern>/Purchases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
