<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RESTLogin</servlet-name>
        <servlet-class>com.rest.RESTLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESTToken</servlet-name>
        <servlet-class>com.rest.RESTToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESTLogout</servlet-name>
        <servlet-class>com.rest.RESTLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTLogin</servlet-name>
        <url-pattern>/RESTLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTToken</servlet-name>
        <url-pattern>/RESTToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTLogout</servlet-name>
        <url-pattern>/RESTLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
